@model ESE.SmartHome.App.Dashboard.ViewDashboard.QueryResult
@inject IJsonHelper MyJson;

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<section class="section">
    <div class="container">
        <hr/>
        <h2><i class="fa fa-thermometer"></i> | Historische Daten</h2>
        <hr />

        <canvas id="myChart" width="60" height="30"></canvas>

    </div>
</section>


@section Scripts
    {
    <script>

        var model = null;

        @if (Model.Device != null)
        {
            var model = Html.Raw(MyJson.Serialize(Model.Device.Measurements));
        }


            var xPoints = [];
            var yPoints = [];

            $.each(model,
                function(index, item) {
                    xPoints.push(new Date(item.receptionDateTime));
                    yPoints.push(new Date(item.temperature));
                });

            var config = {
                type: 'line',
                data: {
                    labels: xPoints,
                    datasets: [
                        {
                            label: "Temperature",
                            data: yPoints
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [
                            {
                                type: 'time',
                                time: {
                                    displayFormats: {
                                        'hour': 'HH:mm'
                                    }
                                }
                            }
                        ]
                    }
                }
            };

            var ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx, config);
    </script>
}
