@using ESE.SmartHome.App.Home
@model dynamic

@{
    ViewBag.Title = "Smart Home";
    Layout = "_Layout";
}

@section styles
    {
    <style>
        .card > a {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    </style>
}

<section class="section">
    <div class="container">

        <div class="card-deck mb-3">
            <div class="col-md-4 d-flex">
                <div class="card mb-md-5">
                    <img class="card-img-top img-fluid"
                         src="/img/history-image.jpeg" alt="Aktuellste daten image cap" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title"><i class="fa fa-book"> | Aktuell</i></h4>
                        <p class="card-text">Aktuelle Messdaten anzeigen</p>
                        <a class="btn btn-primary mt-auto" href="@Url.Action("ViewDashboard", "Dashboard")">View</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 d-flex">
                <div class="card mb-md-5">
                    <img class="card-img-top img-fluid"
                         src="/img/realtime-image.jpeg" alt="Echtzeitdaten image cap" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title"><i class="fa fa-area-chart"> | Echtzeitdaten</i></h4>
                        <p class="card-text">Echtzeitdaten anzeigen</p>
                        <a class="btn btn-primary mt-auto" href="@Url.Action("ViewRealtimeChart", "RealtimeChart")">View</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 d-flex">
                <div class="card mb-md-5">
                    <img class="card-img-top img-fluid"
                         src="/img/setup-image.jpg" alt="Devices image cap" />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title"><i class="fa fa-cogs"> | Sensoren</i></h4>
                        <p class="card-text">Sensoren anzeigen, anlegen oder einstellen</p>
                        <a class="btn btn-primary mt-auto" href="@Url.Action("ViewDevices", "Setup")">View</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>