body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

#top-bar {
    height: 70px;
    background-color: #f4f7f9;
    position: fixed;
    width: calc(100% - 250px);
    z-index: 100;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 250px;
    background-color: black;
    overflow-y: auto;

}

.sidebar nav {
    padding-top: 1rem;
}

.sidebar a {
    color: #d6d6d6;
}

.sidebar .nav-link.nav-link-header {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 0;
    text-align: center;
    padding-right: 2.5rem;
}

.sidebar .nav-link {
    padding-left: 0;
    text-align: center;
}

.sidebar .fa-fw {
    width: 2.5em;
}

.page {
    margin-left: 250px;
    padding-bottom: 150px;
}

#version {
    position: absolute;
    bottom: 15px;
    text-align: center;
    display: block;
    padding: 10px;
    width: 100%;
    color: #ababab;
    font-size: 0.8rem;
}

.field-validation-error {
    color: #dc3545;
}

.modal {
    left: 100px;
}

.clip-copy { cursor: pointer; }

.clip-copy:active { background-color: #faf8ed; }

.validation-summary-valid {
    display: none;
}

.validation-summary-errors > ul {
    margin-bottom: 0;
}

.input-validation-error {
    border-color: #dc3545;
}

.input-validation-error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}

[data-action=link] {
    cursor: pointer;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #d5d5d5;
}

label { font-weight: 700; }

.datepicker table tr td span.new {
    color: inherit;
}