@{
    ViewBag.Title = "RealtimeChart";
    Layout = "_Layout";
}

<h2 class="text-info"><i class="fa fa-area-chart"></i> | Echtzeitdaten</h2>

<canvas id="chart" style="width: 800px; height: 450px"></canvas>

@section Scripts
{
    <script type="text/javascript">
        //debugger;

        document.addEventListener('DOMContentLoaded',
            function() {
                // Real-time Chart Example written by Simon Brunel (Plunker: https://plnkr.co/edit/Imxwl9OQJuaMepLNy6ly?p=info)
                var samples = 100;
                var speed = 250;
                
                var temperatureValues = [];
                var humidityValues = [];
                var labels = [];
                
                temperatureValues.length = samples;
                humidityValues.length = samples;
                labels.length = samples;

                temperatureValues.fill(0);
                humidityValues.fill(0);
                labels.fill(0);
                
                var chart = new Chart(document.getElementById("chart"),
                    {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Temperature',
                                    data: temperatureValues,
                                    backgroundColor: 'rgba(255, 99, 132, 0.1)',
                                    borderColor: 'rgb(255, 99, 132)',
                                    borderWidth: 2,
                                    lineTension: 0.25,
                                    pointRadius: 0
                                },
                                {
                                    label: 'Humidity',
                                    data: humidityValues,
                                    backgroundColor: 'rgba(112, 99, 255, 0.1)',
                                    borderColor: 'rgb(112, 99, 255)',
                                    borderWidth: 2,
                                    lineTension: 0.25,
                                    pointRadius: 0
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            animation: {
                                duration: speed * 1.5,
                                easing: 'linear'
                            },
                            scales: {
                                xAxes: [
                                    {
                                        display: false
                                    }
                                ],
                                yAxes: [
                                    {
                                        ticks: {
                                            max: 40,
                                            min: -10
                                        }
                                    }
                                ]
                            }
                        }
                    });

                var connection = new signalR.HubConnection("sensor");

                connection.on('Broadcast',
                    function(sender, message) {
                        temperatureValues.push(message.temperature);
                        temperatureValues.shift();

                        humidityValues.push(message.humidity);
                        humidityValues.shift();

                        labels.push(message.timestamp);
                        labels.shift();
                        
                        chart.update();
                    });

                connection.start();
            });
    </script>
}


