@using ESE.SmartHome.App.Setup
@model AddDevice.Command

<div class="modal-header">
    <h5 class="modal-title">Device hinzufügen</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form id="form-add-device" asp-controller="Setup" asp-action="AddDevice" method="post">

        <!-- name -->
        <div class="form-group">
            <label class="sr-only">Device Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Device Name">
            <span asp-validation-for="Name"></span>
        </div>

        <!-- physical address -->
        <div class="form-group">
            <label class="sr-only">MAC Adresse</label>
            <input asp-for="MacAddress" type="text" class="form-control" placeholder="MAC Adresse">
            <span asp-validation-for="MacAddress"></span>
        </div>
    </form>

</div>

<div class="modal-footer">
    <button type="submit" form="form-add-device" class="btn btn-sm btn-outline-primary"><i class="fa fa-check"></i> Add Device</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Abbrechen</button>
</div>